.App {
  text-align: center;
}

.logo{
  color: #fffee6;
  font-size: calc(15px + 3vmin);
  text-decoration: none;
  padding-right: calc(15px + 3vmin);
}

.navLinks, .accessLinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:300px;
  font-size: calc(9px + 1vmin);
  margin: 0;
  padding-left: calc(2px + .5vmin);
}
.navLinks li, .accessLinks li{
  display: inline;

}

.accessLinks{
  width: 150px;
}

section{
    justify-content: space-around;
    display: flex;
    padding: 70px;
}
.container{
  display: flex;
}
.rdiv, .rdiv2{
  background-color: #282c34;
  text-align: justify;
  color: #fff;
  padding: 35px;
  width: 50%;
  height: 250px;
  overflow: scroll;
   display: flex;
   justify-content: center;
    align-items: center;
}
.rdiv2{
    background: url('./resources/bgimage.jpeg');
    color: #282c34;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.navLinks a, .accessLinks a{
  text-decoration: none;
  color: #fff;
}
.navLinks a:active, .accessLinks a:active{
  text-decoration: underline;
}


.App-header {
  background-color: #282c34;
  color: white;
}
