html{
  height: 100vh;
}
.App {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.logo{
  color: #fffee6;
  font-size: calc(12px + 3vmin);
  text-decoration: none;
}



