:root {
  --primary: #912cee;
  --secondary: #fa9917;
  --text-color: #333;
  --white: #fff;
}


/* default styles */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Fira Sans', sans-serif;
  color: var(--white) !important;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

.google-button {
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: -webkit-fill-available;
}
.logo {
  color: white;
}

.logo:hover {
  text-decoration: none;
  color: white !important;
  font-weight: 700;
}